.sidebar {
    font-size: 26px;
    width: 270px;
    position: fixed;
    margin: 16px;
    border-radius: 16px;
    background-color: var(--background-clr);
    height: calc(100vh - 32px);
    transition: 0.4s ease;
}

.sidebar.collapsed{
    width: 85px;
}

.sidebarHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    height: 80px;
}

.sidebarHeader .toggler{
    position:absolute;
    right: 20px;
    height: 35px;
    width: 35px;
    border: none;
    color: var(--background-clr);
    display:flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background: var(--toglerbackground-clr);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebarHeader .toggler{
    transform: translate(-4px, 65px);
}

.sidebarHeader .toggler:hover{
    background: var(--secondText-hover);
}

.sidebarHeader .toggler span {
    font-size: 1.75rem;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebarHeader .toggler span {
    transform: rotate(180deg);
}

.sidebarHeader .headerLogo img{
    margin-left: -8px;
    width: 68px;
    height: 68px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebarNav .navList{
    list-style: none;
    display: flex;
    gap:4px;
    padding: 0px 15px;
    flex-direction:column;
    transform: translateY(15px);
    transition: 0.4s ease;
    margin-top: 32px;
}


.sidebar.collapsed .sidebarNav .primaryNav {
    transform: translateY(65px);
}

.sidebarNav .navLink{
    color: var(--text-clr);
    display: flex;
    gap: 12px;
    white-space: nowrap;
    border-radius: 8px;
    align-items:center;
    padding: 12px 15px;
    text-decoration: none;
    transition: 0.4s ease;
}

.sidebarNav .navLink:hover{
    color:var(--secondarytext-clr);
    background: var(--secondarybackground-clr);
}

.sidebarNav .navLink .navLabel {
    transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebarNav .navLink .navLabel{
    opacity: 0;
    pointer-events:none;
}

.sidebarNav .navItem{
    position: relative;
}

.sidebarNav .navTooltip {
    position: absolute;
    top: -10px;
    opacity: 0;
    display: none;
    pointer-events: none;
    left: calc(100% + 25px);
    color:var(--text-clr);
    padding: 6px 12px;
    border-radius: 8px;
    background: var(--secondarytext-clr);
    white-space: nowrap;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.0s;
}

.sidebar.collapsed .sidebarNav .navTooltip {
    display: block;
}

.sidebarNav .navItem:hover .navTooltip{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(50%);
    transition: 0.4s ease;
}

.sidebarNav .secondaryNav{
    position: absolute;
    bottom: 30px;
    width: 100%;
}

/* Disable all animation on the sidebar and everything inside it when the "no-transition" class is added. */
/*The !important, called "important declaration" makes sure this rule beats any other animation settings, forcing all transitions to turn off completely.*/
.sidebar.no-transition {
    transition: none !important;
}


/*The * means "all child elements" inside the sidebar — like buttons, text, icons — so nothing inside will animate either.*/
.sidebar.no-transition * {
    transition: none !important;
}



.themeSwitch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: 10px;
}

.themeSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondarybackground-clr);
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-clr);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--secondarybackground-clr);
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: var(--background-clr);
}


.lightIcon {
    display: none;
    color: var(--text-clr);
}

.darkIcon {
    display: inline-block;
    color: var(--text-clr);
}

body.whiteTheme .darkIcon {
    display: none;
}

body.whiteTheme .lightIcon {
    display: inline-block;
}

.sidebar.collapsed .themeSwitch {
    display: none;
}

.themeToggleBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-right: 10px;
    
}


.themeToggleBtn .navLabel {
    order: 2; 
    margin-left: auto; 
    padding-right: 10px; 
}


.themeToggleBtn .icon-container {
    display: flex;
    position: absolute;
    left: 15px;
}


.themeToggleBtn .nav-icon {
    position: absolute;
    transition: opacity 0.3s ease;
}


.themeSwitch {
    order: 3; 
    margin-left: auto; 
}


.sidebar.collapsed .themeToggleBtn .navLabel {
    display: none; 
}

.sidebar.collapsed .themeSwitch {
    display: none; 
}

.sidebar.collapsed .themeToggleBtn .nav-icon {
    left: 50%;
    transform: translateX(-50%);
}

.themeToggleBtn:hover {
    color: var(--text-clr) !important;
    background: transparent !important;
}